/**
 * The contents of this file are subject to the license and copyright
 * detailed in the LICENSE and NOTICE files at the root of the source
 * tree and available online at
 *
 * http://www.dspace.org/license/
 */

/**
 * You can put your own style in this file.
 * It will be included in all color schemes
 */

//example mixin to set the text-selection style
@mixin selection {
    ::-moz-selection { @content; }
    ::selection { @content; }
}

@include selection {
    color: white;
    background: hotpink;
}

body {
    font-family: Cambria, Caladea, Georgia, serif !important;
    font-size: 14px !important;
    background-color: #f9f9f5 !important;
}

a {
    color: #222;
    text-decoration: underline;
}

.nav.navbar-nav.pull-left:hover {
    background-color: #ac001e;
}

#ds-options .ds-option-set-head {
    color: #222;
}

.publication-records-modal, .publication-records-modal ul {
  list-style-type: none;
  padding-left: 0px;
}

.publication-records-import-btn {
  margin: 5px 0px 15px 0px;
}

dt.bold {
    padding-left: 0px;
}

.bold {
  font-weight: bold;
}

.imported {
  background-color: #E2E2E2;
}

#aspect_submission_StepTransformer_div_StartSubmissionLookupStep {

  #aspect_submission_StepTransformer_field_search {
    width: 81%;
    display: inline;
  }

  #aspect_submission_StepTransformer_field_lookup {
    width:19%
  }

  .modal .modal-body {
    max-height: 500px;
    overflow-y: auto;
  }

  #aspect_submission_StepTransformer_item_publication-title{
    margin-bottom:5px;
  }
}

.navbar.navbar-default.navbar-static-top {
  background-color: #AC001E !important;
}

.navbar {
  min-height: 0;
}

.ds-text-field.form-control.top-search {

  border-radius: 16px;
  -webkit-box-shadow: 0 5px 5px -5px #222 inset;
  box-shadow: 0 5px 5px -5px #222 inset;
  background-color: #fff;
  margin: 6px 8px;

}


button.ds-button-field.btn.btn-primary.top-search {

  margin-left: -15px;
  color: #666;
  background: #fff;
  padding: 0;
  z-index: 120;
  border: 0;


}

.ds-div-head {
  color: #c90230;
}



#ds-face-logo {
  background: url('/static/images/logo-akademie-goettingen.png');
  background-color: rgba(0, 0, 0, 0);
  background-repeat: repeat;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 250px;
  height: 150px;
  margin: 0;
  float: left;
  color: #fff;
}

#dini {
  float: right;
}

#dini > img {
  max-width: 150px;
}

#face-wrapper {
  margin-top: 15px;
}

#dini img {
  float: right;
  vertical-align: bottom;
  max-width: 120px;
}

#ds-face-logo-text {
  display: block;
/*  width: 500px; */
  margin: auto;
  float: left;
  padding: 6px 0 0 25px;
  color: #222;
  font-size: 26px;
  letter-spacing: 0.01em;
  line-height: 28px;
}


.trail-wrapper {
  background-color: transparent !important;
  border: none !important;
}

.col-xs-12.br1 {
  border-bottom: 1px solid #222;
  border-top: 1px solid #222;
  font-size: 0.9em;
}

.col-xs-12.br2 {
  border-bottom: 1px solid #222;
  font-size: 0.9em;
}

footer {
  margin-top: 30px;
}

.center {
  text-align: center;
}

.primary {
  display: block;
  margin-bottom: 15px;
}

.secondary {
  font-size: .9em;
}

#sidebar {
  padding-right: 0;
}

.artifact-description {
  font-size: 1.2em;
  padding-left: 15px;
}

div.item-wrapper {
  margin-bottom: 30px;
  margin-top: 15px;
  padding-bottom: 15px;
}

.simple-item-view-bookmark {
  margin: 1.5em 0px 0px;
  border: 1px solid #ccc;
  padding: 5px;
  background-color: #eee;
}

h1.first-page-header {
  color: #c90230;
  text-align: left;
  padding-bottom: 15px;
  font-size: 28px;
}

div.simple-item-view-authors {
  font-size: 123.1%;
  font-weight: bold;
  padding-bottom: 2px;
  margin-bottom: 15px;
  text-align: justify;
}

.simple-item-view-other {
  padding-bottom: 5px;
}

ul.share-buttons {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
  padding-left: 15px;
}

ul.share-buttons li {
  display: inline;
  margin-right: 10px;
}
#gs {
  float: right;
}

#gs img {
  margin-top: 20px;
}

.main-content {
  background-color: transparent;
  padding-right: 8%;
}

.list-group-item {
  background-color: #f9f9f5;
  border: none;
  padding: 5px 15px;
}

.ds-option-set-head.h6 {
  border-bottom: 1px solid #222;
  font-weight: bold;
  text-transform: none;
}

.list-group-item.active, 
.list-group-item.active:hover {
  background-color: transparent;
  color: #222;
  text-decoration: none;
}

#main-container, #sidebar {
  padding-top: 15px;
}

#ds-footer-links {
  text-align: center;
}

.navbar-nav > li {
  margin-left: 15px;
}

.navbar-brand > a {
   color: white;
}

.btn-primary {
  background-color: #999;
}

.biblio-export {
  margin-top: 0.5em;
  text-align: right;
}

a[target="_blank"] {
  background: transparent url("/static/images/ext-link.png") no-repeat 100% 50%;
  padding: 0 13px 0 0;
}

.thumbnail {
  background-color: transparent;
}

.thumbnail.artifact-preview {
   margin-bottom: 0px;
}
.img-responsive.img-thumbnail {
	max-width: 70px;
}

#login {
  color: #ac001e;
}

#ds-language-selection {
  background-color: #333;
}

.nav.navbar-nav.pull-left:hover {
    background-color: #ac001e;
}

.h5.list-group-item-heading {
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: bold;
    padding-top: 15px;
    display: block;
}

.ds-div-head.recent-submission {
    margin-top: 45px;
}

.files {
    margin-top: 2.5em;
}

.detail-view > p {
   font-size: 14px;
}

#data-full {
   color: #ac001e;
}

.ds-ordered-list {
   list-style: none;
}

#aspect_artifactbrowser_CollectionViewer_div_collection-view {
    font-size: 1em;
}

.item-page-field-wrapper, .ispartof {
	margin-top: 15px;
}

.ispartof, .ispartof a {
	color: #666;
}

.ispartof a {
	font-size: 0.9em;
}

.navbar-nav a, .btn-default {
    text-decoration: none;
}

#aspect_browseArtifacts_CommunityBrowse_div_community-browse h3, 
#aspect_browseArtifacts_CollectionBrowse_div_collection-browse h3 {
	color: #222;
}

.col-lg-4.col-md-4.rs {
    text-align: right;
    margin-top: 45px;
}


#aspect_discovery_CommunityRecentSubmissions_div_community-recent-submission ul,
#aspect_discovery_CollectionRecentSubmissions_div_collection-recent-submission ul
{
    font-size: 0.9em;
}

span#totop {
    position: fixed;
    bottom: 15vh;
    left: 95vw;
    cursor: pointer;
    display: none;
    font-size: 2em;
    color: #607890;
    background: #fff;
    border: 1px solid #ddd;
    padding: 5px;
    font-weight: bold;
    height: 40px;
}


 .right-spinner {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.backdrop-loading-icon {
  text-align: center;
  margin-top: 100px;
  z-index: 500;
  font-size: 25px;
  color: white;
}

.backdrop-transparency {
  z-index: 1000;
  opacity: 50%;
}

