.wikidata-logo {
	max-width: 60px;
}

.bigger {
	font-size: 1.2em;
}

.separate {
	margin-top: 30px;
}

#intro {
    font-style: italic;
    padding-bottom: 15px;
}

.rights	{
	font-size: 0.8em;
	padding-left: 15px;
}

.embargo-info {
    padding-top: 30px;
}

.simple-item-view-show-full > a {
	text-decoration: none;
}

.print {
	display: none;
}

.subtitle {
    font-weight: normal;
    font-size: 1.3em;
    margin-bottom: 15px;
    display:block;
}

.img-thumbnail.data {
    padding: 2px;
    background-color: black;
}

.list-group > a[href$="type=gs"],
.btn-group > a[href$="type=gs"]
{
	display: none;
}

a[href$="type=volume"] {
        display: none;
}
